* {box-sizing: border-box;
}
body { background-color: #90c7e3;   
       color:#666666;
       font-family: Arial, Verdana, sans-serif;
       margin: 0;
}
main {
       padding-left: 2em;
       padding-right: 2em;
       display: block;
       padding-bottom: 0;
       padding-top: 0;
       padding-left: 1em;
       padding-right: 1em;
}

header { 
       background-color: #002171; 
       color:#FFFFFF  ;
       font-family: Georgia, sans-serif;
       background-repeat: no-repeat;
       background-position: right ;
       background-image: url(sunset.jpg);
       padding: 1em;

}
header a { text-decoration: none; }
header a:link { color: #FFFFFF; }
header a:visited { color: #FFFFFF;}
header a:hover { color: #90C7E3; }

 h1 { text-align: center;
       font-size: 1.5em;
	 }
h2 { color: #1976d2; 
	 font-family: Georgia, serif;
	  }
nav { font-weight: bold;
    text-align: center;
    background-color: white;
    font-size: 1.2em;
}
nav a:link {
       color: #5c7fa3;
}
nav a:visited {
       color: #344873;
}
nav a:hover {
       color: #a52a2a;
}

nav ul {
       text-decoration: none;
       padding-left: 0em;
       list-style-type: none;
       flex-direction: column;
       margin: 0;
}
nav li {
padding-bottom: .5em;
padding-top: .5em;
padding-left: 1em;
padding-right: 1em;
width: 100%;
border-bottom: 1px solid;
}

nav a {
text-decoration: none;

}
dt {color: #002171;
	font-weight: bold; }
.resort { color: #1976d2; 
font-size: 1.2em;}

footer  { text-align: center;
         font-size: .70em;
         font-style: italic;
       padding: 1em;
       background-color: #FFFFFF;
 }

 section {
      padding-left: .5em;
      padding-right: .5em;
 }
#mobile {
       display: inline;
}

#desktop {
       display: none;
}

#wrapper {
background-color: #FFFFFF;
}

#homehero {
background: url(coast.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

#yurthero {
background: url(yurt.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

#trailhero {
background: url(trail.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

form {
       display: grid;
       grid-template-columns: 10em 1fr;
       grid-gap: 1em;
       width: 60%;
}
input[type="submit"]{grid-column: 2 / 3;
width: 10em;
}

#reshero {
       background: url(ocean.jpg) no-repeat;
       background-size: 100% 100%;
       height: 300px;
}

video {
       float: right;
       margin: 2em;
}

table {
margin: auto;
border: 1px solid #3399CC;  
width: 90%;
border-collapse: collapse;
}
td, 
th {
       padding: 5px;
       border: 1px solid #3399CC;
}
td{
   text-align: center;    
}
.text {
       text-align: left;
}
tr:nth-of-type(even) {background-color: #dfedf8;}

input, textarea {
       margin-bottom: .5em;
}

form {
       display: flex;
       flex-direction: column;
       padding-left: 1em;
       width: 80%;
}


/* Medium Display */
@media (min-width: 600px) {
       h1 {
              font-size: 2em;
              letter-spacing: .25em;
       }
 nav li { width: 12em;
		  border-bottom: none; 
         }
 nav ul { display: flex;
       flex-flow: row nowrap;
       justify-content: space-around;
       padding-right: 2em;
}
 section { padding-left: 2em;
       padding-right: 2em;}
#flow {
       display: flex;
       flex-direction: row;}
#mobile {
       display: none;
}
#desktop {
       display: inline;
}
#homehero {
       background-size: 100% 100%;
}
#yurthero {
       background-size: 100% 100%;
}
#trailhero {
       background-size: 100% 100%;
}
 }
/* Large Display */
@media (min-width: 1024px){
body {
  background: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
}

nav ul { 
  padding-right: 10%;
}

#wrapper { 
  width: 80%;
  margin: auto;
}
}