* {box-sizing: border-box;
}
body { background-color: #90c7e3;   
       color:#666666;
       font-family: Arial, Verdana, sans-serif;
       margin: 0;
}
main {
       padding-left: 2em;
       padding-right: 2em;
       display: block;
       padding-bottom: 0;
       padding-top: 0;
       padding-left: 1em;
       padding-right: 1em;
}

header { 
       background-color: #002171; 
       color:#FFFFFF  ;
       font-family: Georgia, sans-serif;
       background-repeat: no-repeat;
       background-position: right ;
       background-image: url(sunset.jpg);
       padding: 1em;

}
header a { text-decoration: none; }
header a:link { color: #FFFFFF; }
header a:visited { color: #FFFFFF;}
header a:hover { color: #90C7E3; }

 h1 { text-align: center;
       font-size: 1.5em;
	 }
h2 { color: #1976d2; 
	 font-family: Georgia, serif;
	  }
nav { font-weight: bold;
    text-align: center;
    background-color: white;
    font-size: 1.2em;
}
nav a:link {
       color: #5c7fa3;
}
nav a:visited {
       color: #344873;
}
nav a:hover {
       color: #a52a2a;
}

nav ul {
       text-decoration: none;
       padding-left: 0em;
       list-style-type: none;
       flex-direction: column;
       margin: 0;
}
nav li {
padding-bottom: .5em;
padding-top: .5em;
padding-left: 1em;
padding-right: 1em;
width: 100%;
border-bottom: 1px solid;
}

nav a {
text-decoration: none;

}
dt {color: #002171;
	font-weight: bold; }
.resort { color: #1976d2; 
font-size: 1.2em;}

footer  { text-align: center;
         font-size: .70em;
         font-style: italic;
       padding: 1em;
       background-color: #FFFFFF;
 }

 section {
      padding-left: .5em;
      padding-right: .5em;
 }
#mobile {
       display: inline;
}

#desktop {
       display: none;
}

#wrapper {
background-color: #FFFFFF;
min-width: 960px;
max-width: 2048px;
}

#homehero {
background: url(coast.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

#yurthero {
background: url(yurt.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

#trailhero {
background: url(trail.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 