body { background-color: #FFFFFF; 
       color:666666;
       font-family: Arial, Verdana, sans-serif; 
 background-repeat: no-repeat;
	   background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}
header { background-color: #002171; 
       color:666666;
       font-family: Georgia, sans-serif;
 background-image: url(sunset.jpg) no-repeat right bottom, }
 h1 { 
	 line-height: 200%;
	 }
h2 { 
       text-align: center;
       padding-top: .5em;
     color: #1976D2; 
	 font-family: Georgia, serif;
	  }
nav { font-weight: bold;
    background-color: #bbdefb;  }
nav a { text-decoration: none; }
dt {color: #002171;
	text-indent: 3em; }
ul { font-weight: bold; } 
.feature { color: #C70000; }
footer { 
       text-align: center;
       color: #333333;
         font-size: .75em;
         font-style: italic; }
.company { font-weight: bold;
           font-family: Georgia, "Times New Roman", serif;
            font-size: 1.25em; }
#wrapper { 
       background-color: #FFFFFF;
       min-width: 960px;
       max-width: 2048;
       width: 80%;
       margin-left: auto;
           margin-right: auto;
           box-shadow: 5px 5px 5px #1E1E1E;
 }












#wrapper {
       background-color: ;
       width: 80%margin/right: auto;
       
}



#homehero {
background-image: url(coast.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

#yurthero {
background-image: url(yurt.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 

#trailhero {
background-image: url(trail.jpg) no-repeat;
background-size: 100% 100%;
height: 300px;
} 