body { background-color: #FFFFFF; 
       color:#666666;
       font-family: Arial, Verdana, sans-serif; }
header { background-color: #002171; 
       color:#FFFFFF  ;
       font-family: Georgia, sans-serif; }
 h1 { background-color: #09438a;
       color: #e2ffff;
	 line-height: 200%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-indent: 1em;
        text-shadow: 3px 3px 3px #000000;
	 }
h2 { color: #1976d2; 
	 font-family: Georgia, serif;
	  }
nav { font-weight: bold;
    background-color: #bbdefb;  }
dt {color: #002171;
	font-weight: bold; }
.resort { color: #1976d2; 
font-size: 1.2em;}

footer  { text-align: center;
       color: #333333;
         font-size: .70em;
         font-style: italic; }
#wrapper {
width: 80%;
margin-right: auto;
margin-left: auto;

}




